<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Documentation</title>
</head>
<body>

</body>
</html>


<html lang="en-US" data-preset="contrast" data-primary-color="#307FFF" class="theme-light">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="robots" content="noindex">
    <meta name="built-on" content="2024-07-27T08:42:42.7709366">
    <title>Software Engineering Processes | ReadyFleet</title>

    <script type="application/json" id="topic-shortcuts"></script>
    <link href="https://resources.jetbrains.com/writerside/apidoc/6.10.0-b267/app.css" rel="stylesheet">
    <meta name="msapplication-TileColor" content="#000000">
    <link rel="apple-touch-icon" sizes="180x180" href="https://jetbrains.com/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://jetbrains.com/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://jetbrains.com/favicon-16x16.png">
    <meta name="msapplication-TileImage"
          content="https://resources.jetbrains.com/storage/ui/favicons/mstile-144x144.png">
    <meta name="msapplication-square70x70logo"
          content="https://resources.jetbrains.com/storage/ui/favicons/mstile-70x70.png">
    <meta name="msapplication-square150x150logo"
          content="https://resources.jetbrains.com/storage/ui/favicons/mstile-150x150.png">
    <meta name="msapplication-wide310x150logo"
          content="https://resources.jetbrains.com/storage/ui/favicons/mstile-310x150.png">
    <meta name="msapplication-square310x310logo"
          content="https://resources.jetbrains.com/storage/ui/favicons/mstile-310x310.png">
    <meta name="image" content=""><!-- Open Graph -->
    <meta property="og:title" content="Software Engineering Processes | ReadyFleet">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <meta property="og:site_name" content="ReadyFleet Help">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="Software Engineering Processes | ReadyFleet">
    <meta name="twitter:description" content="">
    <meta name="twitter:creator" content="">
    <meta name="twitter:image:src" content=""><!-- End Twitter Card --><!-- Schema.org WebPage -->

    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <style type="text/css" data-react-helmet="true">
        :root {
            --wt-color-primary-dark-theme: #307FFF;
            --wt-color-primary-dark-theme-80: rgba(48, 127, 255, 0.8);
            --wt-color-primary-dark-theme-20: rgba(48, 127, 255, 0.2);
            --rs-color-primary-dark-theme: #307FFF;
            --rs-color-primary-dim-dark-theme: #2B6BD2;
            --rs-color-primary-fog-dark-theme: #203860;
            --rs-color-primary-t-dim-dark-theme: rgba(48, 127, 255, 0.8);
            --rs-color-primary-t-fog-dark-theme: rgba(48, 127, 255, 0.3);
            --wt-color-primary-light-theme: #307FFF;
            --wt-color-primary-light-theme-80: rgba(48, 127, 255, 0.8);
            --wt-color-primary-light-theme-20: rgba(48, 127, 255, 0.2);
            --rs-color-primary-light-theme: #307FFF;
            --rs-color-primary-dim-light-theme: #5999FF;
            --rs-color-primary-fog-light-theme: #D6E5FF;
            --rs-color-primary-t-dim-light-theme: rgba(48, 127, 255, 0.8);
            --rs-color-primary-t-fog-light-theme: rgba(48, 127, 255, 0.2)
        }
    </style>
</head>
<body data-id="ReadyFleet-Framework" data-main-title="Software Engineering Processes" data-article-props="{&quot;seeAlsoStyle&quot;:&quot;links&quot;}" data-template="article" data-breadcrumbs="" data-initial="/docs/readyfleet-framework.html" class="app-is-rendered">
  <script src="https://resources.jetbrains.com/writerside/apidoc/6.10.0-b267/app.js">
  </script>
  <nordpass-passkeys>
  </nordpass-passkeys>
  <div style="position: absolute; top: 22px; right: 20px; margin-top:2px;">
<a href="/" style="color: white; text-decoration: none; background-color: #303033; padding: 5px 10px; border-radius: 5px;">Home</a>
</div>
  <div id="webhelp-root">
    <div class="layout layout--page layout--rows app" data-test="app">
      <header class="app__header">
        <div class="layout layout--container layout--unlimited" data-test="layout">
          <div class="wh-header" data-test="header" style="width:100%; display: flex; justify-content: space-between; align-items: center;">
            <button data-test="header-hamburger" type="button" class="_main_joawza_17 _modeClear_joawza_434 _sizeM_joawza_99 _alignIconLeft_joawza_77 _dark_joawza_62 _withIcon_joawza_119 _withoutText_joawza_113 wh-header__burger">
              <svg viewBox="0 0 24 24" data-test="icon-hamburger" class="wt-icon wt-icon_size_s _icon_joawza_525">
                <path d="M4 5h16v2H4zm0 6h16v2H4zm0 6h16v2H4z"></path>
              </svg>
            </button>
            <div class="wh-header__product-name" data-test="header-product">ReadyFleet</div>
            <div class="wh-header__divider">
            </div>
          </div>
        </div>
      </header>
      <div class="layout layout--container" data-test="layout">
        <div class="app__sub-header">
        </div>
      </div>
      <div class="layout layout--columns layout--grow" data-test="layout">
        <div class="layout layout--rows layout--scroll-container layout--grow" data-test="scroller">



                <div style="margin-left: 25px; margin-top:-10px; font-family: Arial, sans-serif; line-height: 1.6; color: #333;">
                    <h1 style="font-size: 24pt;">Search Documentation</h1>
                    <form action="/search" method="get">
                        <input type="text" name="q" placeholder="Enter search query" value="{{ query }}" style="padding: 8px; margin-right: 10px; border: 1px solid #ccc; border-radius: 4px;">
                        <button type="submit" style="background-color: #4CAF50; color: white; padding: 8px 16px; border: none; border-radius: 4px; cursor: pointer;">Search</button>
                    </form>

                    {% if query %}
                        <h2>Results for "{{ query }}"</h2><br>
                        <ul>
                            {% for result in results %}
                                <li>
                                    <a href="{{ url_for('documentation', filename=result.file_path.replace('static/docs/', '')) }}" style="text-decoration: none; color: #1a0dab;" target="_blank">
                                        {{ result.title }}
                                    </a>
                                    <div style="color: #666; margin-left:25px; padding:15px; border:#f3efef solid 1px;background-color: #F3EFEFFF;border-radius: 3px;">
                                        <p style="margin-top: -25px; font-size: 10pt;">
                                            {{ result.body[:400]|safe }}{% if result.body|length > 400 %}...{% endif %}
                                            <br>
                                        </p>
                                    </div>

                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>


          <div class="layout layout--container-content layout--scroll-element" data-test="layout">
            <nav class="navigation-links">
              <a data-test="internal-link next-page" class="navigation-links__next" href="/">Home
                <svg viewBox="0 0 24 24" class="wt-icon wt-icon_size_m navigation-links__next-icon">
                  <path d="M21 12l-8-6.857V11H2v2h11v5.857L21 12z">
                  </path>
                </svg>
              </a>
            </nav>
          </div>
          <div class="app__footer app__footer--preset-contrast">
            <footer class="layout layout--container-content" data-test="layout">
              <div class="footer" data-test="footer">
                <div class="footer__wrapper">
                </div>
                <p class="footer__powered rs-text-3 rs-text-3_theme_dark" data-test="powered-block">Powered by&nbsp;
                  <a href="https://lp.jetbrains.com/writerside/" data-test="external-link powered-link" rel="" class="link link--dark">
                    <span class="notranslate">JetBrains Writerside
                    </span>
                  </a>
                </p>
              </div>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
